// Custom Colors
// =============

@color-primary: #0F2A4A;
@color-secondary: #D9D9D9;
@color-accent: #C44536;
@color-background: #ffffff;
@color-text: #000;
@color-success: #25785A;

@transparency: rgba(255, 255, 255, 0.8);
@transparency-fallback-png: url('assets/transparency-light.png');

@drawer-item-color:@color-primary;
@drawer-item-text-color:@color-text;
@drawer-item-text-hover-color:@color-background;

@item-color-hover:@color-background;
@item-color-disabled:@color-secondary;
@item-text-color-disabled:@color-secondary;
@item-text-color: @color-text;
@item-border-color: @color-text;
@drawer-item-hover-color:@color-accent;

@foreground-color-inverted: @color-primary;
@inverted-foreground-color:@color-primary;
@background-color:@color-background;

@button-hover-color:@color-primary;
@button-text-hover-color: @color-background;
@button-disabled-color: @color-secondary;
@button-text-disabled-color:@color-secondary;

@notify-color:@color-primary;
@notify-text-color:@color-text;
@notify-icon-color:@color-background;
@notify-button-color: @color-background;
@notify-button-text-color: @color-background;
@notify-button-color-hover:@color-background;
@notify-button-text-color-hover:@color-background;
@notify-icon-color-hover: @color-background;

@color-secondary-text:@color-secondary;
@color-secondary-hover: @color-background;
@color-accent-disabled:@color-secondary;
@color-background-disabled: @color-secondary;
@color-text-inverted: @color-background;

@menu-item-color:@color-primary;
@menu-item-text-color: @color-background;
@menu-item-progress-color: @color-primary;
@menu-item-progress-border-color: @color-text;
@menu-item-progress-fill-color: @color-primary;
