// Block styling
// =============

.block {
    .block-inner {
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;


        // reduce padding as screen width decreases
        @media all and (max-width: (@device-width-large + 20px)) {
            padding: (@block-padding-top / 2) 20px (@block-padding-bottom / 2);
        }

        @media all and (max-width: (@device-width-small + 20px)) {
            padding: (@block-padding-top / 3) 10px (@block-padding-bottom / 3);
        }
    }

    .block-title {
        margin-bottom: @block-title-margin-bottom;
        text-align: left;

        .dir-rtl & {
            text-align: right;
        }
    }

    .block-body {
        margin-bottom: @block-body-margin-bottom;
    }

    .block-instruction {
        margin-bottom: @block-instruction-margin-bottom;
        .instruction-text;
    }
}