// Drawer styling
// ==============

.drawer {
    background-color: @white;
    color: @primary-color;
    box-shadow: 0px 0px 20px lighten(@black, 70%);

    .drawer-toolbar {
        position: absolute;
        width:100%;
        top:0;
    }

    .drawer-toolbar .icon {
        color: @primary-color;
        padding: @navigation-padding;
        .transition-color;

        .no-touch &:hover {
            color: @danger-color;
        }
    }
    
    .drawer-holder {
        padding-top: ((@navigation-padding * 2) + @icon-size + 1);
    }

    .drawer-inner {

        .dir-rtl & {

        }
    }

    .drawer-item {
        .drawer-item-title {
            .sub-title;
        }
        
        .drawer-item-description {
        	font-size: @body-text-font-size;
        	line-height: @body-text-line-height;
        }
        
        .drawer-item-open {
            color: @primary-color;
            text-decoration: none;
            width: 100%;
            font-weight:500;
            
            .no-touch &:hover {
                background-color: @primary-color;
                color: @white;
            }
        }
    }

    .drawer-item-open {
        padding: @drawer-item-padding-top @drawer-item-padding-right @drawer-item-padding-bottom @drawer-item-padding-left;
        .transition-background-color;

        //stops rollover of drawar items on touch devices    
        .no-touch &:hover {
             background-color: @white;
       }
    }
}
